a{
  cursor: pointer;
}

a.nav-link > * {
  text-decoration: none;
  position: relative;
  color: white;
}

a.nav-link > *::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #EF8354;
  transition: width 0.2s;
}

a.nav-link:not(.active) > *::before {
  width: 0;
  opacity: 0.5;
}

a.nav-link.active > *::before,
a.nav-link:hover > *::before{
  width: 100%;
}
