/* https://coolors.co/palette/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

*{
    height: 100%;
    color: white
}

#root, #root>* {
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    background: #2D3142;
    height: "100vh";
    width: "100vw";
    background-image: url('./img/carr.svg');
    background-size: cover;
}