/* https://coolors.co/palette/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */
#root {
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
    background: #4F5D75;
    background: -moz-radial-gradient(center, #4F5D75 0%, #1C6EA4 0%, #2D3142 100%);
    background: -webkit-radial-gradient(center, #4F5D75 0%, #1C6EA4 0%, #2D3142 100%);
    background: radial-gradient(ellipse at center, #4F5D75 0%, #1C6EA4 0%, #2D3142 100%);
}